[submodule "genshin/stats"]
	path = genshin/stats
	url = https://github.com/AyAHd/genshin-stats.git
[submodule "genshin/teapot-party"]
	path = genshin/teapot-party
	url = https://github.com/AyAHd/teapot-party.git
